video, canvas {
    margin-left: 25%;
    margin-top: 50px;
    position: absolute;
}

/* Bootstrap formatting */
html {
    height: 100%;
}

body {
    height: 100%;
}

.container-fluid {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.row-video {
    height: 500px;
    overflow: hidden;
}

/* D3.js formatting */
.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}